.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  border-radius: 12px;

  .empty-message {
    font-size: 18px;
    margin: 100px auto;
  }
  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
  }

  button {
    margin-top: 16px;
    margin-left: 15px;
    border-radius: 12px;
  }
}
